Mapping/Sample.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="price" type="xsd:string"/>
  <xsd:element name="name" type="xsd:string"/>
  <xsd:element name="description" type="xsd:string"/>
  <xsd:element name="calories" type="xsd:string"/>
  <xsd:element name="food">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="name"/>
        <xsd:element ref="price"/>
        <xsd:element ref="description"/>
        <xsd:element ref="calories"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
